In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/picoctf_all_challenges_20250330_084049.csv')

In [4]:
data.head()

,id,name,author,difficulty,event,category,tags,users_solved,event_points,solved_by_user,bookmarked
0,492,SSTI1,Venax,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,5884,100,True,False
1,490,PIE TIME,Darkraicg492,1,picoCTF 2025,Binary Exploitation,browser_webshell_solvable,3196,75,False,False
2,482,n0s4n1ty 1,Prince Niyonshuti N.,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,4340,100,True,False
3,476,head-dump,Prince Niyonshuti N.,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,5631,50,True,False
4,475,hashcrack,Nana Ama Atombo-Sackey,1,picoCTF 2025,Cryptography,browser_webshell_solvable,7210,100,False,False

In [5]:
data.columns

Index(['id', 'name', 'author', 'difficulty', 'event', 'category', 'tags',
       'users_solved', 'event_points', 'solved_by_user', 'bookmarked'],
      dtype='object')

In [6]:
data.isnull().sum()

id                  0
name                0
author              0
difficulty          0
event              19
category            0
tags              243
users_solved        0
event_points        0
solved_by_user      0
bookmarked          0
dtype: int64

In [8]:
data[data.duplicated()]

Empty DataFrame
Columns: [id, name, author, difficulty, event, category, tags, users_solved, event_points, solved_by_user, bookmarked]
Index: []

In [9]:
# Dropping rows with null values.
data.dropna()

,id,name,author,difficulty,event,category,tags,users_solved,event_points,solved_by_user,bookmarked
0,492,SSTI1,Venax,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,5884,100,True,False
1,490,PIE TIME,Darkraicg492,1,picoCTF 2025,Binary Exploitation,browser_webshell_solvable,3196,75,False,False
2,482,n0s4n1ty 1,Prince Niyonshuti N.,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,4340,100,True,False
3,476,head-dump,Prince Niyonshuti N.,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,5631,50,True,False
4,475,hashcrack,Nana Ama Atombo-Sackey,1,picoCTF 2025,Cryptography,browser_webshell_solvable,7210,100,False,False
...,...,...,...,...,...,...,...,...,...,...,...
321,292,ropfu,Sanjay C / LT 'syreal' Jones,3,picoCTF 2022,Binary Exploitation,ROP,1880,300,False,False
322,283,NSA Backdoor,Joshua Inscoe,3,picoCTF 2022,Cryptography,"backdoor, diffie_hellman, rsa",651,500,False,False
325,276,Keygenme,LT 'syreal' Jones,3,picoCTF 2022,Reverse Engineering,"binary, keygen",2161,400,False,False
326,272,function overwrite,Neel Bhavsar,3,picoCTF 2022,Binary Exploitation,"Array_bounds, Function_pointers",1463,400,False,False
327,260,buffer overflow 3,Sanjay C / Palash Oswal,3,picoCTF 2022,Binary Exploitation,canary,1880,300,False,False

In [11]:
data.shape

(414, 11)

In [12]:
data.isnull().sum()

id                  0
name                0
author              0
difficulty          0
event              19
category            0
tags              243
users_solved        0
event_points        0
solved_by_user      0
bookmarked          0
dtype: int64

In [13]:
data.shape

(414, 11)

In [14]:
data.dropna(axis=0)

,id,name,author,difficulty,event,category,tags,users_solved,event_points,solved_by_user,bookmarked
0,492,SSTI1,Venax,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,5884,100,True,False
1,490,PIE TIME,Darkraicg492,1,picoCTF 2025,Binary Exploitation,browser_webshell_solvable,3196,75,False,False
2,482,n0s4n1ty 1,Prince Niyonshuti N.,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,4340,100,True,False
3,476,head-dump,Prince Niyonshuti N.,1,picoCTF 2025,Web Exploitation,browser_webshell_solvable,5631,50,True,False
4,475,hashcrack,Nana Ama Atombo-Sackey,1,picoCTF 2025,Cryptography,browser_webshell_solvable,7210,100,False,False
...,...,...,...,...,...,...,...,...,...,...,...
321,292,ropfu,Sanjay C / LT 'syreal' Jones,3,picoCTF 2022,Binary Exploitation,ROP,1880,300,False,False
322,283,NSA Backdoor,Joshua Inscoe,3,picoCTF 2022,Cryptography,"backdoor, diffie_hellman, rsa",651,500,False,False
325,276,Keygenme,LT 'syreal' Jones,3,picoCTF 2022,Reverse Engineering,"binary, keygen",2161,400,False,False
326,272,function overwrite,Neel Bhavsar,3,picoCTF 2022,Binary Exploitation,"Array_bounds, Function_pointers",1463,400,False,False
327,260,buffer overflow 3,Sanjay C / Palash Oswal,3,picoCTF 2022,Binary Exploitation,canary,1880,300,False,False

In [15]:
data.shape

(414, 11)

In [16]:
data.isnull().sum()

id                  0
name                0
author              0
difficulty          0
event              19
category            0
tags              243
users_solved        0
event_points        0
solved_by_user      0
bookmarked          0
dtype: int64

In [17]:
# Drop and remove some columns from dataset -> Removed the event and tags column due to having empty values.
data.drop(['event', 'tags'], axis=1, inplace=True)

In [18]:
data.shape

(414, 9)

In [19]:
data.isnull().sum()

id                0
name              0
author            0
difficulty        0
category          0
users_solved      0
event_points      0
solved_by_user    0
bookmarked        0
dtype: int64

In [20]:
## Feature engineering.
# Drop the columns on solved_by_user
data.drop(['solved_by_user', 'bookmarked'], axis=1, inplace=True)

In [21]:
data.shape

(414, 7)

In [22]:
data.info

<bound method DataFrame.info of       id                       name                  author  difficulty  \
0    492                      SSTI1                   Venax           1
1    490                   PIE TIME            Darkraicg492           1
2    482                 n0s4n1ty 1    Prince Niyonshuti N.           1
3    476                  head-dump    Prince Niyonshuti N.           1
4    475                  hashcrack  Nana Ama Atombo-Sackey           1
..   ...                        ...                     ...         ...
409   13  Investigative Reversing 2      Santiago C/Danny T           3
410   11                    droids0                   Jason           3
411   10               vault-door-8           Mark E. Haase           3
412    5                       asm4                Sanjay C           3
413    2                b00tl3gRSA2            invisibility           3

                category  users_solved  event_points
0       Web Exploitation          5884           100
1    Binary Exploitation          3196            75
2       Web Exploitation          4340           100
3       Web Exploitation          5631            50
4           Cryptography          7210           100
..                   ...           ...           ...
409            Forensics           670           350
410  Reverse Engineering          2472           300
411  Reverse Engineering          2785           450
412  Reverse Engineering           815           400
413         Cryptography          2876           400

[414 rows x 7 columns]>

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            414 non-null    int64
 1   name          414 non-null    object
 2   author        414 non-null    object
 3   difficulty    414 non-null    int64
 4   category      414 non-null    object
 5   users_solved  414 non-null    int64
 6   event_points  414 non-null    int64
dtypes: int64(4), object(3)
memory usage: 22.8+ KB

In [24]:
# Showing unique values across  category
data['category'].value_counts()

category
Reverse Engineering    90
Forensics              70
Web Exploitation       69
Cryptography           68
Binary Exploitation    61
General Skills         56
Name: count, dtype: int64

In [25]:
# Showing unique values across  category
data['author'].value_counts()

author
LT 'syreal' Jones    57
madStacks            30
syreal               20
Mubarak Mikail       17
Danny                13
                     ..
William Batista       1
wparks/nmontierth     1
speeeday/Danny        1
Claude                1
Alexander Bushkin     1
Name: count, Length: 118, dtype: int64

In [37]:
data[data['author'].str.contains('notDeGhost', case=False, na=False)]

Empty DataFrame
Columns: [id, name, author, difficulty, category, users_solved, event_points]
Index: []

In [41]:
data[data['category'] == 'Cryptography'][data['event_points'] == 500]

/tmp/ipykernel_76452/212667871.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  data[data['category'] == 'Cryptography'][data['event_points'] == 500]

,id,name,author,difficulty,category,users_solved,event_points
289,6,john_pollard,Samuel S,2,Cryptography,5839,500
292,495,Ricochet,asinghani,3,Cryptography,58,500
299,417,flag_printer,ehhthing,3,Cryptography,181,500
305,365,PowerAnalysis: Part 2,Anish Singhani,3,Cryptography,301,500
322,283,NSA Backdoor,Joshua Inscoe,3,Cryptography,651,500
338,211,corrupt-key-2,Tux,3,Cryptography,41,500
365,136,Clouds,madStacks,3,Cryptography,74,500

In [43]:
data.author.count()

np.int64(414)

In [44]:
authors = data.author

In [45]:
authors

0                       Venax
1                Darkraicg492
2        Prince Niyonshuti N.
3        Prince Niyonshuti N.
4      Nana Ama Atombo-Sackey
                ...
409        Santiago C/Danny T
410                     Jason
411             Mark E. Haase
412                  Sanjay C
413              invisibility
Name: author, Length: 414, dtype: object

In [56]:
# Preprocess author names.
def clean_author_name(name):
    name = name.lower()
    if name == "lt 'syreal' jones":
        return "syreal"
    elif name == "anish singhani":
        return "asinghani"
    return name

data.author = data['author'].apply(clean_author_name)

In [57]:
data.author

0                       venax
1                darkraicg492
2        prince niyonshuti n.
3        prince niyonshuti n.
4      nana ama atombo-sackey
                ...
409        santiago c/danny t
410                     jason
411             mark e. haase
412                  sanjay c
413              invisibility
Name: author, Length: 414, dtype: object

In [59]:
data[data.author == 'notdeghost']

,id,name,author,difficulty,category,users_solved,event_points
76,494,Pachinko,notdeghost,2,Web Exploitation,1795,300
218,216,clutter-overflow,notdeghost,2,Binary Exploitation,4177,150
295,478,Pachinko Revisited,notdeghost,3,Web Exploitation,21,500
312,344,cancri-sp,notdeghost,3,Web Exploitation,29,500
318,302,solfire,notdeghost,3,Binary Exploitation,17,500
332,218,vr-school,notdeghost,3,Binary Exploitation,121,500
334,215,fermat-strings,notdeghost,3,Binary Exploitation,538,250
336,213,SaaS,notdeghost,3,Binary Exploitation,300,350

In [62]:
# Drop the name across all due to we don't need it.
data.drop(['id'], axis=1, inplace=True)

In [63]:
data.columns

Index(['author', 'difficulty', 'category', 'users_solved', 'event_points'], dtype='object')

In [64]:
data.head(10)

,author,difficulty,category,users_solved,event_points
0,venax,1,Web Exploitation,5884,100
1,darkraicg492,1,Binary Exploitation,3196,75
2,prince niyonshuti n.,1,Web Exploitation,4340,100
3,prince niyonshuti n.,1,Web Exploitation,5631,50
4,nana ama atombo-sackey,1,Cryptography,7210,100
5,syreal,1,Reverse Engineering,3695,75
6,syreal,1,General Skills,9959,10
7,michael crotty,1,Cryptography,3930,200
8,brhane giday and prince niyonshuti n.,1,Web Exploitation,8151,50
9,taylor mccampbell,1,General Skills,3334,100

In [ ]:
# ## Now My model will be predicting the possible number of users who can solve a given problem given (author of the question, difficulty, category and also the points of the question.

In [66]:
## Feature engineering.

# One Frequency encoding on the author as they are many 114 unique values in 414 values.
author_freq = data.author.value_counts(normalize=True)
data['author_encoded'] = data.author.map(author_freq)

In [67]:
data.head()

,author,difficulty,category,users_solved,event_points,author_encoded
0,venax,1,Web Exploitation,5884,100,0.019324
1,darkraicg492,1,Binary Exploitation,3196,75,0.004831
2,prince niyonshuti n.,1,Web Exploitation,4340,100,0.007246
3,prince niyonshuti n.,1,Web Exploitation,5631,50,0.007246
4,nana ama atombo-sackey,1,Cryptography,7210,100,0.009662

In [77]:
## Filtering all authors who have less than one occurrence
column_name = "author"
data_filtered = data[data.groupby(column_name)[column_name].transform('size') >= 2]

In [81]:
data_filtered.shape

(362, 6)

In [83]:
data_filtered.to_csv("data_filtered.csv")

In [84]:
## Feature Understanding
data_filtered.columns

Index(['author', 'difficulty', 'category', 'users_solved', 'event_points',
       'author_encoded'],
      dtype='object')

In [ ]:
## Feature Understanding
'''
1. Author is the name of someone who setted up the question.
2. Difficulty is the challenge difficulty now it's either 1, 2 or 3 easy, medium or hard.
3. Category is the can be General Skills, Binary Exploitation, Web Exploitation, Forensics, Cryptography and Reverse Engineering
4. users_solved is the number of  past users who solved the challenge.
5. event_points is the score assigned to the challenge when one solves it

and what I want is this
given the author, Difficulty , category and points of the challenge, we predict the number of users who will solve it.
'''